:root{
    --backgroundApp:#313336;
    --backgroundIntoBox:#fff;
    
}

body{
    background:var(--backgroundApp) ;

}

.row{
    width: 100%;
    text-align: center;
}
#link-sobre{
    position: absolute!important;
    top:0!important;
    right: 0!important;
    margin: .5em;
}

.cronometro{
    color: whitesmoke;
    font-size: 7em;
}
.title,.info-text{
    color: var(--backgroundIntoBox);
}
.title{
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
}

.info-text{
    font-weight: bold;
    font-size: 1.8em;
    text-transform: uppercase;
}


.container-cards{
    margin-top: 20%;
}